@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
    margin: 0;
    padding: 0;a
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    /*color: #777;*/
    color: #394a58;
    /*background: url(images/background-HAH.png) top left repeat;*/
    /*background: #c60062;*/
    background: #aeb4ab;
}

.container {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#clientForm input[type="text"],
#clientForm input[type="email"],
#clientForm input[type="tel"],
#clientForm input[type="url"],
#clientForm textarea,
#clientForm button[type="submit"],
#clientForm input[type="datalist"] {
    font: 400 14px/18px "Roboto", Helvetica, Arial, sans-serif;
    color: #394a58;
}

#clientForm {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#clientForm h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#clientForm h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 15px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#clientForm input[type="text"],
#clientForm input[type="email"],
#clientForm input[type="tel"],
#clientForm input[type="url"],
#clientForm input[type="datalist"],
#clientForm textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#clientForm input[type="text"]:hover,
#clientForm input[type="email"]:hover,
#clientForm input[type="tel"]:hover,
#clientForm input[type="url"]:hover,
#clientForm input[type="datalist"]:hover,
#clientForm textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#clientForm textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#clientForm button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #c60062;
    color: #FFF;
    margin: 10px 0 5px;
    padding: 10px;
    font-size: 15px;
}

#clientForm button[type="submit"]:hover {
    background: #aeb4ab;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#clientForm button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#clientForm input:focus,
#clientForm textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}